/* header section style */
header{
    height: 698px;
    width: 1440px;
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
/* navigation */
.nav-list{
    list-style: none;
}
.un-list{
    display: flex;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    gap: 909px;
}
.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.raleway{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.nav-title{
  font-size: 34px;
  font-weight: 800;
  color: #4E47FF
}
.nav-btn{
  color: #FFFFFF;
  background-color: #4E47FF;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 12px 36px;
}
/* banner */
.banner{
    margin: 150px 267px 152px 267px;
}
.ban-title{
    text-align: center;
    font-weight: 700;
    font-size: 65px;
    color: #252432;
}
.ban-btn{
    margin-left: 390px;
}
/* main section style */
/* action */
.action{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 220px;
    margin: 116px 160px 116px 140px;
}
.act-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.act-des{
    font-size: 24px;
    font-weight: 400;
    color: #555555;
}
.act-img{
    height: 328px;
    width: 403px;
    border-radius: 48px;
}
/* user */
.users{
    background-color: #e7e6ff;
    border-radius: 24px;
    margin: 0 160px 137px 140px;
    padding: 50px 142px 50px 142px;
}
.users-title{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}
.users-contain{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.users-num{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.users-des{
    font-size: 20px;
    font-weight: 400;
    color: #555555;
}
/* review */
.rev-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}
.rev-res{
    font-size: 24px;
    font-weight: 600;
    color: #1E1E1E;
}
.rev-des{
    font-size: 16px;
    font-weight: 140;
    color: #181818;
}
.info-contain{
    display: flex;
    align-items: center;
    gap: 12px;
}
.cus-pic{
    height: 60px;
    width: 60px;
}
.info-name{
    font-size: 16px;
    color: #5e5d5d;
    font-weight: 200;
}
.info-date{
    font-size: 16px;
    color: #797878;
    font-weight: 140;
}
.rev-use{
    height: 270px;
    width: 366px;
    border-radius: 14px;
    background-color: #F2EDED;
    padding: 24px 24px;
    box-shadow: 5px 5px 5px 5px rgb(163, 161, 158);
}
.rev-contain{
    display: flex;
    justify-content: space-around;
}
/* form */
.form-title{
    font-size: 97px;
    font-weight: bold;
    color: #000000;
}
label, .form-btn{
    display: block;
    margin-bottom: 10px;
}
input{
    margin-bottom: 20px;
    background-color: #FFFFFF;
    height: 40px;
    width: 350px;
    border-radius: 5px;
    border: none;
}
textarea{
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
}
.form-btn{
    width: 350px;
}
.user-form{
    display: flex;
    height: 632px;
    width: 1140px;
    justify-content: space-around;
    align-items: center;
    margin-left: 150px;
    margin-top: 100px;
    background-color: #eceff8;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px #D6DDED;
    padding-left: 15px;
    padding-right: 15px;
}
/* footer section style */
.foot-title{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    text-align: center;
}
.foot-des{
    font-size: 16px;
    font-weight: 400;
    color: #8987A1;
    text-align: center;
    height: 48px;
    width: 531px;
    margin-left: 480px;
}
.foot-un{
    list-style: none;
    margin-left: 510px;
}
.foot-un li{
    display: inline;
}
.foot-un li a{
    text-decoration: none;
    color: #8987A1;
    padding-right: 48px;
}
footer{
    height: 350px;
}
.nav-btn:hover{
    background-color: rgb(112, 107, 100);
}
a:hover{
    background-color: #d2c8c8d4;
    border-radius: 3px;
}